@charset "utf-8";
h1{
    color: #2638ac;
    font-size: 30px; 
    font-family: Arial, Helvetica, sans-serif;
}
h2,h3{
    color: #DD7596;
    font-size: 20px; 
    font-family: Arial, Helvetica, sans-serif;
}
p, ul{
    color: #3C3C3B;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html{
    color: rgb(240, 240, 219);
}
.sobre-mi{
    background-color: rgb(221, 250, 245);
    width: 300px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.navega{
    background-color: #8b9697; 
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
}
a{
    color: #FFFFF0;
}